force-app/main/default/flows/ECI_Analysis_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Run_AI_Analysis</name>
        <label>Run AI Analysis</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>ECI_Insights_Prompt_Template</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Update_VideoCall</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:videoCallId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>ECI_Insights_Prompt_Template</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>65.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <environments>Default</environments>
    <interviewLabel>ECI Analysis Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ECI Analysis Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Update_VideoCall</name>
        <label>Update VideoCall</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>GenAI_videoCall_analysis__c</field>
            <value>
                <elementReference>Run_AI_Analysis.promptResponse</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Run_AI_Analysis</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>GenAI_videoCall_analysis__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>VideoCall</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
